[submodule "source/backend/TestToolkit"]
	path = source/backend/TestToolkit
	url = https://github.com/DaphneWebFramework/TestToolkit.git
[submodule "source/backend/Harmonia"]
	path = source/backend/Harmonia
	url = https://github.com/DaphneWebFramework/Harmonia.git
[submodule "source/backend/Peneus"]
	path = source/backend/Peneus
	url = https://github.com/DaphneWebFramework/Peneus.git
